
/* ############## TABLET UP (768px) ############## */
@media (width >= 48em) {
    /* #region ====== GENERAL ====== */
        :root {
            --main-padding-x: 2rem;
            --section-padding-y: 6rem;
        }

        .title {
            font-size: var(--cr-font-size-5xl);
        }
    /* #endregion ====================== */
    
    /* #region ====== NAVBAR ====== */
        #navbar {
            .nav-brand,
            .logo-nav-mobile {
                svg {
                    height: 42px;
                }
            }
        }
    /* #endregion ====================== */

    /* #region ====== FOOTER ====== */
        footer {
            .top {
                grid-template-columns: 1fr .5fr 1fr;
                grid-template-rows: repeat(2, -webkit-max-content);
                grid-template-rows: repeat(2, max-content);

                .profile {
                    grid-column: span 3;
                }
            }
            .cta-footer .cr-btn {
                margin-bottom: .5rem;
            }
            .mark {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;

                .social {
                    justify-content: flex-start;
                    font-size: 1.5rem;
                    margin-bottom: 0;
                }
                b {
                    display: inline-block;
                    position: relative;

                    &::before {
                        content: '-';
                        display: inline-block;
                        margin: 0 .5rem;
                    }
                }
            }
        }
    /* #endregion ====================== */

    /* >>>>>>>>>>>>>>>>>>>>>>>>>  INDEX  <<<<<<<<<<<<<<<<<<<<<<<<< */

    /* #region ====== MAIN HEADER ====== */
        #mainHeader {
            .text {
                padding-top: calc(80px + 2rem);
                
                .top {
                    font-size: var(--cr-font-size-sm);
                }
                p:nth-of-type(1) {
                    font-size: 3.5rem;
                }
                p:nth-of-type(2) {
                    max-width: 75%;
                    font-size: var(--cr-font-size-lg);
                    margin-bottom: 2rem;
                }
                .cta-hero {
                    gap: .75rem;
                    transform: scale(1);
                }
                .cr-primary {
                    display: flex;
                }
            }
            
            .image {
                background-size: contain;
                background-position: right bottom;
            }

            .running-logo {
                --card-w: 45px;
            }
        }
    /* #endregion ====================== */
    
    /* #region ====== PROBLEM ====== */
        #problem {
            .problem-wrap {
                grid-template-columns: 0.85fr 1.15fr;
            }
            .feature {
                padding: 1.75rem;

                .feature-icon {
                    margin-bottom: 2rem;
                }
                h3 {
                    font-size: var(--cr-font-size-2xl);
                    margin-bottom: 1rem;
                }
            }
        }
    /* #endregion ====================== */

    /* #region ====== CONSEQUENCE ====== */
        #consequence {
            .consequence-wrap {
                width: fit-content;
                padding-left: 5.5rem;
                margin-inline: auto;
                margin-top: 4rem;

                .item::before {
                    left: -3.75rem;
                }
                .dot {
                    left: -5.5rem;
                    width: 3.5rem;;
                    height: 3.5rem;
                    font-size: var(--cr-font-size-3xl);
                }
            }
        }
    /* #endregion ====================== */

    /* #region ====== COMPARISON ====== */
        #comparison {
            .th {
                font-size: var(--cr-font-size-xl);
            }            
            .th.old {
                text-align: right;
                padding: 1.5rem 4rem 1.5rem 1.5rem;
            }
            .th.new {
                text-align: left;
                padding: 1.5rem 1.5rem 1.5rem 4rem;
            }
            .vs {
                width: 3.25rem;
                height: 3.25rem;
                font-size: var(--cr-font-size-2xl);
            }

            .diff-row {
                grid-template-columns: 1fr 125px 1fr;
            }
            .cell {
                justify-content: flex-end;
                gap: 1rem;
            }
            .cell.old {
                text-align: right;
                padding: 1.5rem 1rem;
                flex-direction: row;
            }
            .cell.new {
                justify-content: flex-start;
                padding: 1.5rem 1rem;
            }

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 26px;
                height: 26px;
                border-radius:50%;
            }
            .icon.x {
                color: var(--red);
                background: hsl(from var(--red) h s l / .15);
            }
            .icon.check {
                color: var(--primary);
                background: hsl(from var(--primary) h s l / .15);
            }

            .quote {
                font-size: var(--cr-font-size-xl);
                max-width: 50ch;
                margin-inline: auto;
            }
        }
    /* #endregion ====================== */

    /* #region ====== SOLUTION ====== */
        #solution {
            .solution-grid {
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
            }
            .item {
                flex-direction: column;
                padding: 1.5rem;
                background-color: hsl(from var(--primary) h s l / .5);
                border: 1px solid hsl(from var(--sc-500) h s l / .65);
                border-radius: 1rem;
                transition: var(--anim);
            }
            .item:first-child {
                border-top-width: 1px;
            }
            .item:hover {
                background-color: var(--pr-700);
            }
        }
    /* #endregion ====================== */
    
    /* #region ====== FLOW ====== */
        #flow {
            .flow-wrap {
                display: grid;
                grid-template-columns: repeat(4,1fr);
                gap: 1.5rem;
                align-items: start;
                padding-left: 0;

                .step {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    padding-bottom: 0;
                }
                .step::before {
                    display: none;
                }
                .step::after {
                    position: absolute;
                    content: "";
                    top: 1.5rem;
                    left: 50%;
                    width: 100%;
                    height: 0;
                    border-top: 2px dashed var(--text-secondary);
                }
                .step:last-child::after {
                    display: none;
                }
                .icon-wrap {
                    position: relative;
                    top: unset;
                    left: unset;
                    width: 3.5rem;
                    height: 3.5rem;
                    margin-bottom: 1.5rem;
                }
            }
        }
    /* #endregion ====================== */

    /* #region ====== PROPERTY ====== */
        #property {
            .carousel-props {
                .carousel-cell {
                    min-width: 350px;
                    margin-right: 1.25rem;
                }
            }
        }
    /* #endregion ====================== */

    /* #region ====== GALLERY ====== */
        #gallery {
            .running-img {
                --card-w: 325px;
            }
        }
    /* #endregion ====================== */

}

/* ############## DESKTOP UP (1025px) ############## */
@media (width >= 64.0625em) {
  /* #region ====== GENERAL ====== */
        :root {
            --content-max: 960px;
            --main-padding-x: 3rem;
        }
    /* #endregion ====================== */
    
    /* #region ====== NAVBAR ====== */
        #navbar {
            .navbar-wrap {
                gap: 2rem;
                padding: 1rem 0;
            }
            .nav-menu {
                flex: 1;
                position: unset;
                inset: unset;
                display: unset;
                flex-direction: unset;
                gap: 0;
                padding: 0;
                background-color: transparent;
                opacity: 1;
                pointer-events: all;            
                container-type: inline-size;
                container-name: navmenu-container;

                &::before,
                &::after {
                    display: none;
                }
            }
            .nav-menu ul {
                flex: unset;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            .nav-menu ul li {
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                
                .nav-link {
                    position: relative;
                    display: inline-block;
                    width: -webkit-fit-content;
                    width: -moz-fit-content;
                    width: fit-content;
                    color: var(--putih);
                    text-transform: capitalize;
                    line-height: 1;
                    vertical-align: middle;
                    white-space: nowrap;
                    padding: .5rem 1rem;
                    background-color: transparent;
                    border-radius: 3rem;

                    &:is(:hover, :active, .active) {
                        color: var(--secondary) !important;
                        background: transparent;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        left: 50%;
                        bottom: -2px;
                        width: 50%;
                        height: 2px;
                        background-color: var(--secondary);
                        border-radius: 3rem;
                        transform: translateX(-50%) scaleX(0);
                        transform-origin: center left;
                        transition: var(--anim);
                    }
                    &.active::before {
                        transform: translateX(-50%) scaleX(1);
                    }
                    &::after {
                        display: none;
                    }
                }
            }

            .cr-dropdown.theme .cr-drop-toggle {
                color: var(--text-primary);
            }

            .open-menu,
            .close-menu,
            .logo-nav-mobile,
            .cta-mobile {
                display: none;
            }
            .theme-switch {
                display: inline-block;
            }
        }
    /* #endregion ====================== */
    
    /* #region ====== FOOTER ====== */
        footer {
            .top {
                grid-template-columns: 1.4fr 1fr 0.7fr .9fr;
                grid-template-rows: -webkit-max-content;
                grid-template-rows: max-content;
                gap: 3%;

                .profile {
                    grid-column: unset;
                }
            }
            .social a:hover {
                color: var(--secondary);
            }
        }
    /* #endregion ====================== */
   
    /* >>>>>>>>>>>>>>>>>>>>>>>>>  INDEX  <<<<<<<<<<<<<<<<<<<<<<<<< */

    /* #region ====== MAIN HEADER ====== */
        #mainHeader {
            &::before {
                background: radial-gradient(circle at 90% 80%, hsl(from var(--primary) h s l / .35), transparent 50%);
            }
            
            .hero {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 70px;
            }

            .text {
                max-width: 48%;
                padding: 0;
                
                p:nth-of-type(1) {
                    font-size: 4rem;
                    margin-bottom: 2rem;
                }
                p:nth-of-type(2) {
                    max-width: 100%;
                }
                .cta-hero {
                    gap: 1rem;
                    margin-top: 2.5rem;
                }
            }

            .image {
                height: 100%;
            }

            .wrap-logo {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }
            .running-logo {
                padding: 1rem;

                &:hover .track {
                    -webkit-animation-play-state: paused;
                            animation-play-state: paused;
                }
            }

            .polka {
                bottom: 15%;
                left: 0;
                top: auto;
                right: auto;
            }
        }
    /* #endregion ====================== */

    /* #region ====== PROBLEM ====== */
        #problem {
            .problem-wrap {
                grid-template-columns: 0.75fr 1.25fr;
                gap: 3rem;
                margin-top: 3rem;
            }
            .feature {
                padding: 2.5rem;

                h3 {
                    font-size: var(--cr-font-size-4xl);
                }
            }
            .problem-row {
                .row-icon{
                    width: 55px;
                    height: 55px;
                    font-size: var(--cr-font-size-3xl);
                }
                .row-title {
                    font-size: var(--cr-font-size-xl);
                }
                .row-desc {
                    font-size: var(--cr-font-size);
                }
            }
        }
    /* #endregion ====================== */

    /* #region ====== CONSEQUENCE ====== */
        #consequence {
            .wrapper {
                display: grid;
                grid-template-columns: auto 0.75fr;
            }
            .head-sect {
                text-align: left;
                margin-bottom: 3rem;

                .title {
                    max-width: 650px;
                }
            }
            .consequence-wrap {
                margin-inline: 0;

                p:nth-of-type(1) {
                    font-size: var(--cr-font-size-xl);
                }
                p:nth-of-type(2) {
                    max-width: 100%;
                    font-size: var(--cr-font-size);
                }
            }
            .right {
                display: block;

                img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    height: 100%;
                    width: auto;
                }
                .bg {
                    mask-image: linear-gradient(to right, transparent 5%, #000 40%);
                    -webkit-mask-image: linear-gradient(to right, transparent 5%, #000 40%);
                    opacity: .75;
                    filter: blur(1px);
                }
            }

            .polka {
                right: auto;
                left: 0;
                top: 10%;
            }
        }
    /* #endregion ====================== */

    /* #region ====== COMPARISON ====== */
        #comparison {
            .head-sect {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                gap: 1rem;
            }
            .diff-table {
                margin-top: 3rem;
            }
            .title span:not(.focus) {
                display: block;
            }
            .th {
                padding: 1.5rem 5rem;
            }  
            .vs {
                width: 3.5rem;
                height: 3.5rem;
                font-size: var(--cr-font-size-3xl);
            }
            .diff-row {
                grid-template-columns: 1fr 150px 1fr;
                transition: var(--anim);                
            }
            .diff-row:hover {
                background: var(--sc-100);
            }
            .cell.old {
                padding: 1.75rem 2rem;
            }
            .diff-row:hover .cell.old {
                color: var(--static-black);
            }
            .cell.new {
                padding: 1.75rem 2rem;
            }
        }
    /* #endregion ====================== */

    /* #region ====== SOLUTION ====== */
        #solution {
            .wrapper {
                grid-template-columns: 0.85fr 1.15fr;
                gap: 2rem;             
            }
            .cr-secondary {
                margin-top: 1.25rem;
            }
            .item-title {
                font-size: var(--cr-font-size-xl);
            }
            .item-desc {
                font-size: var(--cr-font-size);
            }
        }
    /* #endregion ====================== */
    
    /* #region ====== FLOW ====== */
        #flow {
            .desc {
                max-width: 70%;
            }
            .flow-wrap {
                margin-top: 4rem;

                .icon-wrap {
                    font-size: var(--cr-font-size-3xl);
                }
                p:nth-of-type(1) {
                    font-size: var(--cr-font-size-xl);
                }
                p:nth-of-type(2) {
                    font-size: var(--cr-font-size);
                }
            }
        }
    /* #endregion ====================== */
    
    /* #region ====== PROPERTY ====== */
        #property {
            .head-sect {
                margin-bottom: 3rem;
            }
            .carousel-props {
                .flickity-viewport,
                .flickity-slider {
                    min-height: 550px;
                }
                .carousel-cell {
                    min-width: 400px;
                    height: 100%;
                    margin-right: 1.5rem;
                }
            }
            .property-item {
                .prop-info {
                    padding: 1.25rem;
                }
                p:nth-child(1) {
                    font-size: var(--cr-font-size-2xl);
                }
                p:nth-child(3) {
                    font-size: var(--cr-font-size);
                }
            }
        }
    /* #endregion ====================== */

    /* #region ====== FAQ ====== */
        #faq {
            padding: var(--section-padding-y) var(--main-padding-x);

            .wrapper {
                display: grid;
                grid-template-columns: 0.8fr 1.2fr;
                align-items: start;
                gap: 2rem;
                margin: 0 auto;
            }
            .head-sect {
                position: sticky;
                top: 2rem; 
                margin-top: 2rem;
            }
            .faq-q {
                font-size: var(--cr-font-size-lg);
            }
            .faq-a p {
                font-size: var(--cr-font-size);
            }

            .net {
                --pos: left 65%;
                --size: 250px;
                --sqr: 40px;

                top: auto;
                left: 0;
                bottom: 20%;
                right: auto;
            }
        }
    /* #endregion ====================== */

    /* #region ====== GALLERY ====== */
        #gallery {
            .gallery-layout {
                margin-top: 4rem;
            }
            .running-img {
                --card-w: 450px;
            }
        }
    /* #endregion ====================== */


}

/* ############## LARGE DESKTOP / MONITOR UP (1440px) ############## */
@media (width >= 90em) {
    /* #region ====== GENERAL ====== */
        :root {
            --max-page: 1920px;
            --content-max: 1280px;
            --main-padding-x: 4rem;
            --section-padding-y: 7rem;
        }
        .desc {
            line-height: 1.75;
        }
    /* #endregion ====================== */

    /* >>>>>>>>>>>>>>>>>>>>>>>>>  INDEX  <<<<<<<<<<<<<<<<<<<<<<<<< */

    /* #region ====== MAIN HEADER ====== */
        #mainHeader {
            max-height: 1080px;
        }
    /* #endregion ====================== */

            
}

/* ############## TV / ULTRAWIDE UP (1800px) ############## */
@media (width >= 112.5em) {
    /* #region ====== GENERAL ====== */
        :root {
            --content-max: 1480px;
            --main-padding-x: 8rem;
            --section-padding-y: 7.5rem;
        }
    /* #endregion ====================== */

    /* >>>>>>>>>>>>>>>>>>>>>>>>>  INDEX  <<<<<<<<<<<<<<<<<<<<<<<<< */

    /* #region ====== MAIN HEADER ====== */
        #mainHeader {
            min-height: 820px;
        }
    /* #endregion ====================== */

}

/* ############## SUPER ULTRAWIDE (2200px) ############## */
@media (width >= 137.5em) {
    /* #region ====== GENERAL ====== */
        :root {
            --content-max: 1600px;
        }
    /* #endregion ====================== */
}