
/* ############## TABLET UP (768px) ############## */
@media (width >= 48em) {
    /* #region ====== GENERAL ====== */
        :root {
            --main-padding-x: 2rem;
            --section-padding-y: 6rem;
        }

        .title {
            font-size: var(--cr-font-size-5xl);
        }
    /* #endregion ====================== */
    
    /* #region ====== NAVBAR ====== */
        #navbar {
            .nav-brand,
            .logo-nav-mobile {
                svg {
                    height: 42px;
                }
            }
        }
    /* #endregion ====================== */

    /* >>>>>>>>>>>>>>>>>>>>>>>>>  INDEX  <<<<<<<<<<<<<<<<<<<<<<<<< */

    /* #region ====== MAIN HEADER ====== */
        #mainHeader {
            .text {
                padding-top: calc(80px + 2rem);
                
                .top {
                    font-size: var(--cr-font-size);
                }
                p:nth-of-type(1) {
                    font-size: 3.5rem;
                }
                p:nth-of-type(2) {
                    max-width: 75%;
                    font-size: var(--cr-font-size-lg);
                    margin-bottom: 2rem;
                }
                .cta-hero {
                    gap: .75rem;
                    transform: scale(1);
                }
                .cr-primary {
                    display: flex;
                }
            }
            
            .image {
                background-size: contain;
                background-position: right bottom;
            }

            .running-logo {
                --card-w: 45px;
            }
        }
    /* #endregion ====================== */
    
    /* #region ====== PROBLEM ====== */
        #problem {
            .problem-wrap {
                grid-template-columns: repeat(2, 1fr);
                gap: 1.5rem;
            }

            .problem {
                display: flex;
                align-items: flex-start;
                gap: 1.25rem;
                padding: 1.75rem 1.5rem;
                border-radius: 1rem;

                span:not(.card-num) {
                    margin-bottom: 0;
                }

                &:nth-child(5) {
                    grid-column: span 2;
                }
            }
        }
    /* #endregion ====================== */

    /* #region ====== REASON ====== */
        #reason {
            .reason-wrap {
                grid-template-columns: 1fr 1fr;
                gap: 1.5rem;
            }
            .reason {
                padding: 1.5rem;
                gap: 1.25rem;
            }
        }
    /* #endregion ====================== */

}

/* ############## DESKTOP UP (1025px) ############## */
@media (width >= 64.0625em) {
  /* #region ====== GENERAL ====== */
        :root {
            --content-max: 960px;
            --main-padding-x: 3rem;
        }
    /* #endregion ====================== */
    
    /* #region ====== NAVBAR ====== */
        #navbar {
            .navbar-wrap {
                gap: 2rem;
                padding: 1rem 0;
            }
            .nav-menu {
                flex: 1;
                position: unset;
                inset: unset;
                display: unset;
                flex-direction: unset;
                gap: 0;
                padding: 0;
                background-color: transparent;
                opacity: 1;
                pointer-events: all;            
                container-type: inline-size;
                container-name: navmenu-container;

                &::before,
                &::after {
                    display: none;
                }
            }
            .nav-menu ul {
                flex: unset;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            .nav-menu ul li {
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                
                .nav-link {
                    position: relative;
                    display: inline-block;
                    width: -webkit-fit-content;
                    width: -moz-fit-content;
                    width: fit-content;
                    color: var(--putih);
                    text-transform: capitalize;
                    line-height: 1;
                    vertical-align: middle;
                    white-space: nowrap;
                    padding: .5rem 1rem;
                    background-color: transparent;
                    border-radius: 3rem;

                    &:is(:hover, :active, .active) {
                        color: var(--secondary) !important;
                        background: transparent;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        left: 50%;
                        bottom: -2px;
                        width: 50%;
                        height: 2px;
                        background-color: var(--secondary);
                        border-radius: 3rem;
                        transform: translateX(-50%) scaleX(0);
                        transform-origin: center left;
                        transition: var(--anim);
                    }
                    &.active::before {
                        transform: translateX(-50%) scaleX(1);
                    }
                    &::after {
                        display: none;
                    }
                }
            }
            
            .cr-dropdown.theme .cr-drop-toggle {
                color: var(--static-white);
                font-size: 1.25rem;
            }
            .cr-dropdown.theme .cr-drop-item {
                display: flex;
                align-items: center;
                padding: .35rem .75rem;
            }
            .cr-dropdown.theme .cr-drop-item.active {
                color: var(--static-white);
                background-color: var(--primary);
            }
            .cr-dropdown.theme .cr-drop-menu {
                right: 0;
                left: auto;
                min-width: auto;
            }

            .open-menu,
            .close-menu,
            .logo-nav-mobile,
            .cta-mobile {
                display: none;
            }
            .theme-switch {
                display: inline-block;
            }
        }
    /* #endregion ====================== */
    
    /* #region ====== FOOTER ====== */
        footer {
            .top {
                grid-template-columns: 1.5fr 1fr 1fr;
                grid-template-rows: repeat(3, -webkit-max-content);
                grid-template-rows: repeat(3, max-content);
                gap: 5%;
            }
            .profile {
                flex-direction: row;
                gap: 2rem;

                p:nth-of-type(2) {
                    font-size: .85rem;
                }
            }
            .logo {
                min-width: 100px;
                width: 100px;
                padding-top: .5rem;
            }
            .social a:hover {
                color: var(--secondary);
            }

            .mark {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;

                .social {
                    justify-content: flex-start;
                    font-size: 1.5rem;
                    margin-bottom: 0;
                }
                b {
                    display: inline-block;
                    position: relative;

                    &::before {
                        content: '-';
                        display: inline-block;
                        margin: 0 .5rem;
                    }
                }
            }
        }
    /* #endregion ====================== */
   
    /* >>>>>>>>>>>>>>>>>>>>>>>>>  INDEX  <<<<<<<<<<<<<<<<<<<<<<<<< */

    /* #region ====== MAIN HEADER ====== */
        #mainHeader {
            &::before {
                background: radial-gradient(circle at 90% 80%, hsl(from var(--primary) h s l / .35), var(--surface-0) 50%);
            }
            
            .hero {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 70px;
            }

            .text {
                max-width: 48%;
                padding: 0;
                
                p:nth-of-type(1) {
                    font-size: 4rem;
                    margin-bottom: 2rem;
                }
                p:nth-of-type(2) {
                    max-width: 100%;
                }
                .cta-hero {
                    gap: 1rem;
                    margin-top: 2.5rem;
                }
            }

            .image {
                height: 100%;
            }

            .wrap-logo {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }
            .running-logo {
                padding: 1rem;

                &:hover .track {
                    -webkit-animation-play-state: paused;
                            animation-play-state: paused;
                }
            }

            .polka {
                bottom: 15%;
                left: 0;
                top: auto;
                right: auto;
            }
        }
    /* #endregion ====================== */

    /* #region ====== PROBLEM ====== */
        #problem {
            .problem-wrap {
                grid-template-columns: repeat(6, 1fr);
                gap: 1.75rem;
            }
            .problem {
                flex-direction: column;
                align-items: flex-start;
                text-align: left;
                padding: 2.25rem 1.75rem 1.75rem;

                &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                    grid-column: span 2;
                }
                &:nth-child(4) {
                    grid-column: 2 / span 2;
                }
                &:nth-child(5) {
                    grid-column: 4 / span 2;
                }

                span:not(.card-num) {
                    min-width: 65px;
                    width: 65px;
                    padding: 0.85rem;
                    margin-bottom: 1.5rem;
                }
                p:first-of-type {
                    margin-bottom: 0.75rem;
                }
                p:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    /* #endregion ====================== */

    /* #region ====== REASON ====== */
        #reason {
            .wrapper {
                display: grid;
                grid-template-columns: 38% auto;
                gap: 3rem;
                align-items: center;
            }
        }
    /* #endregion ====================== */


}

/* ############## LARGE DESKTOP / MONITOR UP (1440px) ############## */
@media (width >= 90em) {
    /* #region ====== GENERAL ====== */
        :root {
            --max-page: 1920px;
            --content-max: 1280px;
            --main-padding-x: 4rem;
            --section-padding-y: 7rem;
        }
        .desc {
            line-height: 1.75;
        }
    /* #endregion ====================== */

    /* >>>>>>>>>>>>>>>>>>>>>>>>>  INDEX  <<<<<<<<<<<<<<<<<<<<<<<<< */

    /* #region ====== MAIN HEADER ====== */
        #mainHeader {
            max-height: 1080px;
        }
    /* #endregion ====================== */

}

/* ############## TV / ULTRAWIDE UP (1800px) ############## */
@media (width >= 112.5em) {
    /* #region ====== GENERAL ====== */
        :root {
            --content-max: 1480px;
            --main-padding-x: 8rem;
            --section-padding-y: 7.5rem;
        }
    /* #endregion ====================== */

    /* >>>>>>>>>>>>>>>>>>>>>>>>>  INDEX  <<<<<<<<<<<<<<<<<<<<<<<<< */

    /* #region ====== MAIN HEADER ====== */
        #mainHeader {
            min-height: 820px;
        }
    /* #endregion ====================== */

}

/* ############## SUPER ULTRAWIDE (2200px) ############## */
@media (width >= 137.5em) {
    /* #region ====== GENERAL ====== */
        :root {
            --content-max: 1600px;
        }
    /* #endregion ====================== */
}